.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.modal-header {
  border-bottom: white !important;
}

.modal-title {
  width: 100%;
}

@-webkit-keyframes slide-in {
  0% { right: -400px; }
  100% { right: 0; }
}

@keyframes slide-out {
  0% { right: 0; }
  100% { right: -400px; }
}

.modal.right .modal-dialog {
  animation: slide-in 1.5s forwards;
  position: fixed;
  margin: auto;
  height: 100%;
  width: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
  border: none;
  border-radius: 0;
}

body {
  -webkit-touch-callout: none;
}

.leaflet-control-geosearch.bar form{
  width: 70%;
}

.call-screen {
  height: 100vh;
  width: 100%;
  background: rgb(1,54,108);
  background: linear-gradient(60deg, rgba(1,54,108,1) 0%, rgba(0,31,63,1) 50%, rgba(0,20,41,1) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* need to align the aunty face in the center of the screen */
.aunty-call {
  background-image: url('./images/aunty_hello.jpeg');
  background-position: cover;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 250px;
  height: 250px;
  background-size: cover;
  padding: 0 10px;

}

/* .end-call {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} */

.call-action .btn {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.register-info {
  font-size: .9em;
}

.Login-page {
  height: 100%;
}


/* ------------Navbar Icons------------------------ */
.auntyIcon{
  transform: translate(50%,0)
}

.active-icon{
  -webkit-tap-highlight-color: #FFA205;
}

/* -----------------Chatbot CSS----------------- */
/* align user options to the right so that users know that they need to pick an option */
ul {
list-style-type: none;
padding: 0;
margin: 0;
text-align: right;
}

li {
background-position: 100% .4em;
padding-right: .6em;
color:white;
}

/* users options bubble */
.cBYVVs {
background:gray
}

/* users chat bubble */
.iOCYje {
  background:gray;
  color:white;
}

/* remove chat avatars */
.cwuCQv, .eijbEu {
  display:none;
}

/* chatbox size */
html,body { 
  height:100%; 
}

/* app footer containing User Typebox */
.hDUXUW {
  position: -webkit-sticky;
  position: sticky;
  bottom: 10px;
  left: 0;
  width: 100%;
  color: white;
}

.ijcYgp {
width: 100%;
height:800px;
margin-top:2px;
}

.fBGGBn{
width:100%;
height:100%
}

#edit {
  height: 25px;
}

#contact {
  border: 1px black solid;
  padding: 16px;
  margin: 15px;
  background-color: #FFA205;
  color: black;
}

#contact h3 {
    border-bottom: 1px black solid;
}

@media (min-width: 600px) {
  #sosButton {
    width: 30%;
  }
}

.tabs {
  background-color: #FFA205;
}